body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffffff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffffff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tuC0N9Jikw {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tuC0N9Jikw nav.navbar {
  position: fixed;
}
.cid-tuC0N9Jikw .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tuC0N9Jikw .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tuC0N9Jikw .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tuC0N9Jikw .dropdown-item:hover,
.cid-tuC0N9Jikw .dropdown-item:focus {
  background: #ffffff !important;
  color: white !important;
}
.cid-tuC0N9Jikw .dropdown-item:hover span {
  color: white;
}
.cid-tuC0N9Jikw .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tuC0N9Jikw .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tuC0N9Jikw .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tuC0N9Jikw .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tuC0N9Jikw .nav-link {
  position: relative;
}
.cid-tuC0N9Jikw .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tuC0N9Jikw .container {
    flex-wrap: wrap;
  }
}
.cid-tuC0N9Jikw .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tuC0N9Jikw .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tuC0N9Jikw .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tuC0N9Jikw .dropdown-menu,
.cid-tuC0N9Jikw .navbar.opened {
  background: #ffffff !important;
}
.cid-tuC0N9Jikw .nav-item:focus,
.cid-tuC0N9Jikw .nav-link:focus {
  outline: none;
}
.cid-tuC0N9Jikw .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tuC0N9Jikw .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tuC0N9Jikw .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tuC0N9Jikw .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tuC0N9Jikw .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tuC0N9Jikw .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tuC0N9Jikw .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-tuC0N9Jikw .navbar.opened {
  transition: all 0.3s;
}
.cid-tuC0N9Jikw .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tuC0N9Jikw .navbar .navbar-logo img {
  width: auto;
}
.cid-tuC0N9Jikw .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tuC0N9Jikw .navbar.collapsed {
  justify-content: center;
}
.cid-tuC0N9Jikw .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tuC0N9Jikw .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tuC0N9Jikw .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tuC0N9Jikw .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tuC0N9Jikw .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tuC0N9Jikw .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tuC0N9Jikw .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tuC0N9Jikw .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tuC0N9Jikw .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tuC0N9Jikw .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tuC0N9Jikw .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tuC0N9Jikw .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tuC0N9Jikw .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tuC0N9Jikw .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tuC0N9Jikw .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tuC0N9Jikw .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tuC0N9Jikw .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tuC0N9Jikw .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tuC0N9Jikw .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tuC0N9Jikw .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tuC0N9Jikw .navbar.navbar-short {
  min-height: 60px;
}
.cid-tuC0N9Jikw .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tuC0N9Jikw .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tuC0N9Jikw .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tuC0N9Jikw .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tuC0N9Jikw .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tuC0N9Jikw .dropdown-item.active,
.cid-tuC0N9Jikw .dropdown-item:active {
  background-color: transparent;
}
.cid-tuC0N9Jikw .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tuC0N9Jikw .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tuC0N9Jikw .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tuC0N9Jikw .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tuC0N9Jikw .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tuC0N9Jikw .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tuC0N9Jikw ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tuC0N9Jikw .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tuC0N9Jikw button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tuC0N9Jikw button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tuC0N9Jikw button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tuC0N9Jikw button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tuC0N9Jikw button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tuC0N9Jikw button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tuC0N9Jikw nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tuC0N9Jikw nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tuC0N9Jikw nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tuC0N9Jikw nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tuC0N9Jikw .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tuC0N9Jikw a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tuC0N9Jikw .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tuC0N9Jikw .navbar {
    height: 70px;
  }
  .cid-tuC0N9Jikw .navbar.opened {
    height: auto;
  }
  .cid-tuC0N9Jikw .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tuCarfODE6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-tuCarfODE6 .mbr-section-title {
  text-align: center;
}
.cid-tuCarfODE6 .mbr-text,
.cid-tuCarfODE6 .mbr-section-btn {
  color: #232323;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-tuCarfODE6 .mbr-section-title,
  .cid-tuCarfODE6 .mbr-section-btn,
  .cid-tuCarfODE6 .mbr-text {
    text-align: center;
  }
}
.cid-tuC2e7NRHW {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tuC2e7NRHW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuC2e7NRHW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tuC2e7NRHW .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuC2e7NRHW img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tuC2e7NRHW .text-wrapper {
    padding: 2rem;
  }
}
.cid-ThDf9gV3SR {
  background-color: #ffffff;
}
.cid-ThDf9gV3SR .wave1 {
  fill: #55b4d4;
}
.cid-ThDf9gV3SR .wave2 {
  fill: #55b4d4;
  opacity: 0.5;
}
.cid-ThDf9gV3SR .wave3,
.cid-ThDf9gV3SR .wave4 {
  fill: #55b4d4;
  opacity: 0.35;
}
.cid-tw2XfcJoPb {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/mbr-1920x1079.jpeg");
}
.cid-tw2XfcJoPb .mbr-fallback-image.disabled {
  display: none;
}
.cid-tw2XfcJoPb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tw2XfcJoPb .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-tw2XfcJoPb .bg-facebook:hover {
  background: #0b60cb;
}
.cid-tw2XfcJoPb .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-tw2XfcJoPb .bg-instagram:hover {
  background: #bd005c;
}
.cid-tw2XfcJoPb .bg-youtube {
  background: #ff0000;
  color: #ffffff;
}
.cid-tw2XfcJoPb .bg-youtube:hover {
  background: #cc0000;
}
.cid-tw2XfcJoPb .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-tw2XfcJoPb [class^="socicon-"]:before,
.cid-tw2XfcJoPb [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
.cid-tuC4FsnkUe {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/banner-template-background-939949.jpeg");
}
.cid-tuC4FsnkUe .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuC4FsnkUe .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuC4FsnkUe .mbr-section-title {
  text-align: left;
}
.cid-tw2TBpue2s {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tw2TBpue2s .line {
  background-color: #6592e6;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-tw2Nycte0e {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-tw2Nycte0e .mbr-fallback-image.disabled {
  display: none;
}
.cid-tw2Nycte0e .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tw2Nycte0e .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tw2Nycte0e .card-wrapper {
  padding: 3rem;
  background: #ffb18a;
  border-radius: 4px;
}
@media (max-width: 992px) {
  .cid-tw2Nycte0e .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tw2Nycte0e .card-wrapper {
    padding: 3rem 1rem;
  }
}
.cid-2K1kAdo5e8 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-2K1kAdo5e8 hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 91%;
}
.cid-2K1kAdo5e8 .progress {
  background: #cccccc;
  opacity: 1;
  height: 4px;
  overflow: hidden;
  position: relative;
}
.cid-2K1kAdo5e8 .progress::before {
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #cc2952;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 108px;
  }
  to {
    margin-left: 100%;
    width: 108px;
  }
}
.cid-1zvMFpLZh1 {
  padding-top: 0px;
  background: linear-gradient(180deg, #fff5f7, #5daec9);
}
.cid-1zvMFpLZh1 .wave1 {
  opacity: 0.35;
  fill: #ffffff;
}
.cid-1zvMFpLZh1 .wave2 {
  fill: #ffffff;
}
.cid-tuGhHhi5nw {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tuGhHhi5nw .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuGhHhi5nw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuGhHhi5nw .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-tuGhHhi5nw .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-tuGhHhi5nw .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-tuGhHhi5nw .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-tuGhHhi5nw .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tuGhHhi5nw .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tuGhHhi5nw .carousel-control,
.cid-tuGhHhi5nw .close {
  background: #1b1b1b;
}
.cid-tuGhHhi5nw .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tuGhHhi5nw .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tuGhHhi5nw .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tuGhHhi5nw .carousel-control-next span {
  margin-left: 5px;
}
.cid-tuGhHhi5nw .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tuGhHhi5nw .close::before {
  content: '\e91a';
}
.cid-tuGhHhi5nw .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tuGhHhi5nw .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tuGhHhi5nw .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tuGhHhi5nw .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tuGhHhi5nw .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tuGhHhi5nw .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tuGhHhi5nw .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tuGhHhi5nw .carousel-indicators li.active,
.cid-tuGhHhi5nw .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tuGhHhi5nw .carousel-indicators li::after,
.cid-tuGhHhi5nw .carousel-indicators li::before {
  content: none;
}
.cid-tuGhHhi5nw .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tuGhHhi5nw .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tuGhHhi5nw .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tuGhHhi5nw .carousel-indicators {
    display: none;
  }
}
.cid-tuGhHhi5nw .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tuGhHhi5nw .carousel-inner > .active {
  display: block;
}
.cid-tuGhHhi5nw .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tuGhHhi5nw .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tuGhHhi5nw .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tuGhHhi5nw .carousel-control,
  .cid-tuGhHhi5nw .carousel-indicators,
  .cid-tuGhHhi5nw .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tuGhHhi5nw .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tuGhHhi5nw .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tuGhHhi5nw .carousel-indicators .active,
.cid-tuGhHhi5nw .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tuGhHhi5nw .carousel-indicators .active {
  background: #fff;
}
.cid-tuGhHhi5nw .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tuGhHhi5nw .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tuGhHhi5nw .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tuGhHhi5nw .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tuGhHhi5nw .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tuGhHhi5nw .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tuGhHhi5nw .carousel {
  width: 100%;
}
.cid-tuGhHhi5nw .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tuGhHhi5nw .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tuGhHhi5nw .modal.fade .modal-dialog,
.cid-tuGhHhi5nw .modal.in .modal-dialog {
  transform: none;
}
.cid-tuGhHhi5nw .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tuGhHhi5nw H6 {
  text-align: center;
}
.cid-jspETZ8dNa {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-jspETZ8dNa P {
  color: #767676;
}
.cid-jspETZ8dNa .sausage-dog-animation {
  height: 25rem;
  max-height: 80vh;
  max-width: 80vw;
}
.cid-jspETZ8dNa .ear,
.cid-jspETZ8dNa .closed-eye,
.cid-jspETZ8dNa .lean,
.cid-jspETZ8dNa .front-legs,
.cid-jspETZ8dNa .leg,
.cid-jspETZ8dNa .head,
.cid-jspETZ8dNa .tail,
.cid-jspETZ8dNa .tail-blur,
.cid-jspETZ8dNa .shadow {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.cid-jspETZ8dNa .ball,
.cid-jspETZ8dNa .ball-decoration,
.cid-jspETZ8dNa .ball-sound {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.cid-jspETZ8dNa .ball {
  animation-name: squishBall;
  transform: matrix(1.0951654, 0.52195853, -0.52866476, 1.2371611, 208.27138, -632.28196);
}
@keyframes squishBall {
  0%,
  50%,
  72%,
  80%,
  92%,
  100% {
    d: path("m 930.80242,477.19065 c -13.05851,3.00801 -24.77881,15.97694 -26.81485,30.67673 -2.03603,14.69979 5.61282,31.12503 15.54844,43.47271 9.93563,12.34768 22.15522,20.61485 36.12779,24.29677 13.97258,3.68192 29.69644,2.77869 42.91157,-2.81649 13.21513,-5.59518 23.92113,-15.88139 30.65943,-28.14324 6.7383,-12.26185 9.5079,-26.49697 5.7369,-38.5172 -3.771,-12.02022 -14.0825,-21.82316 -25.5603,-24.46605 -11.47786,-2.6429 -24.12011,1.87601 -37.63861,0.6591 -13.5185,-1.21691 -27.91187,-8.17033 -40.97037,-5.16233 z");
    transform: matrix(1.0951654, 0.52195853, -0.52866476, 1.2371611, 208.27138, -632.28196);
  }
  65%,
  85% {
    d: path("m 932.4158,479.26229 c -14.67189,0.93637 -26.39219,13.9053 -28.42823,28.60509 -2.03603,14.69979 5.61282,31.12503 15.94228,38.97676 10.32947,7.85173 23.3365,7.12856 34.39281,10.90173 11.0563,3.77318 20.16082,12.04166 33.72906,12.76579 13.56828,0.72414 31.59878,-6.09489 42.72528,-18.16177 11.1265,-12.06689 15.3474,-29.37891 10.9229,-43.93943 -4.4245,-14.56052 -17.4943,-26.36654 -28.8312,-27.22343 -11.337,-0.85689 -20.93852,9.23684 -34.54977,8.73602 -13.61125,-0.50082 -31.23124,-11.59712 -45.90313,-10.66076 z");
    transform: matrix(1.0951654, 0.52195853, -0.52866476, 1.2371611, 208.27138, -642.28196);
  }
}
.cid-jspETZ8dNa .ball-decoration {
  animation-name: ballDecorationAnimation;
}
@keyframes ballDecorationAnimation {
  0%,
  50%,
  72%,
  80%,
  92%,
  100% {
    d: path("m 963.39546,597.71943 c 21.49913,-19.30313 4.80913,-64.80408 16.71919,-83.46282 16.19467,-25.37116 67.93925,-22.92156 89.43095,-47.68524");
  }
  65%,
  85% {
    d: path("m 978.40243,581.77452 c 21.49916,-19.30313 -15.82546,-51.20401 -3.9154,-69.86275 16.19467,-25.37116 63.71847,-19.16982 85.21017,-43.9335");
  }
}
.cid-jspETZ8dNa .ball-sound {
  animation-name: ballSound;
  visibility: hidden;
}
@keyframes ballSound {
  0%,
  60%,
  70%,
  80%,
  90%,
  100% {
    visibility: hidden;
    transform: translateY(0);
  }
  65%,
  67%,
  69%,
  85%,
  87%,
  89% {
    visibility: visible;
    transform: translateY(-3px);
  }
  66%,
  68%,
  86%,
  88% {
    visibility: visible;
    transform: translateY(3px);
  }
}
.cid-jspETZ8dNa .ear {
  animation-name: moveEar;
  transform-origin: top center;
  transform-box: fill-box;
}
@keyframes moveEar {
  0%,
  12%,
  21%,
  31%,
  35%,
  100% {
    transform: rotateZ(0);
  }
  9%,
  19%,
  29% {
    transform: rotateZ(-10deg);
  }
  13%,
  23%,
  33% {
    transform: rotateZ(10deg);
  }
}
.cid-jspETZ8dNa .closed-eye {
  animation-name: closeEye;
}
@keyframes closeEye {
  0%,
  50%,
  100% {
    visibility: hidden;
  }
  10% {
    visibility: visible;
  }
}
.cid-jspETZ8dNa .lean {
  animation-name: leanDown;
  transform-origin: center;
}
@keyframes leanDown {
  0%,
  50%,
  100% {
    transform: rotateZ(0) translateY(0);
  }
  60%,
  90% {
    transform: rotateZ(10deg) translateY(5%);
  }
}
.cid-jspETZ8dNa .front-legs {
  animation-name: flexLegs;
}
@keyframes flexLegs {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }
  60%,
  90% {
    transform: translateX(12%);
  }
}
.cid-jspETZ8dNa .leg {
  animation-name: rotateLegs;
  transform-origin: bottom left;
  transform-box: fill-box;
  transform: translateX(16%) rotate(-10deg);
}
@keyframes rotateLegs {
  0%,
  50%,
  100% {
    transform: translateX(16%) rotate(-10deg);
  }
  60%,
  90% {
    transform: translateX(35%) rotate(-83deg);
  }
}
.cid-jspETZ8dNa .head {
  animation-name: lookDown;
  transform-origin: top right;
  transform-box: fill-box;
}
@keyframes lookDown {
  0%,
  55%,
  100% {
    transform: rotateZ(0) translate(0, 0);
  }
  60%,
  90% {
    transform: rotateZ(5deg) translate(2.5%, 6%);
  }
}
.cid-jspETZ8dNa .tail {
  animation-name: moveTail;
  transform-origin: bottom center;
}
@keyframes moveTail {
  0%,
  50%,
  90%,
  100% {
    d: path("m 161.6285,568.63016 20.92664,-20.00034 C 151.50961,521.73829 14.092,504.432 14.092,504.432 c 0,0 128.8135,26.71916 147.5365,64.19816 z");
  }
  64%,
  70%,
  76%,
  82% {
    d: path("m 161.6285,568.63016 20.92664,-20.00034 C 151.50961,521.73829 77.565044,422.94078 77.565044,422.94078 c 0,0 65.340456,108.21038 84.063456,145.68938 z");
  }
  60%,
  66%,
  72%,
  78%,
  84% {
    d: path("m 161.6285,568.63016 20.92664,-20.00034 C 151.50961,521.73829 14.092,504.432 14.092,504.432 c 0,0 128.8135,26.71916 147.5365,64.19816 z");
  }
  62%,
  68%,
  74%,
  80%,
  86% {
    d: path("m 161.6285,568.63016 20.92664,-20.00034 C 151.50961,521.73829 159.419,390.74 159.419,390.74 c 0,0 -16.5135,140.41116 2.2095,177.89016 z");
  }
}
.cid-jspETZ8dNa .tail-blur {
  animation-name: tailBlur;
  transform-origin: bottom center;
}
@keyframes tailBlur {
  0%,
  59%,
  90%,
  100% {
    opacity: 0;
  }
  64%,
  70%,
  76%,
  82% {
    transform: rotate(-2deg);
    opacity: 0;
  }
  60%,
  66%,
  72%,
  78%,
  84% {
    opacity: 0.3;
  }
  62%,
  68%,
  74%,
  80%,
  86% {
    transform: rotate(2deg);
    opacity: 0;
  }
}
.cid-jspETZ8dNa .shadow {
  animation-name: scaleShadow;
  transform-origin: center center;
}
@keyframes scaleShadow {
  0%,
  55%,
  100% {
    transform: scaleX(1) translateX(0);
  }
  60%,
  90% {
    transform: scaleX(1.1) translateX(4%);
  }
}
.cid-tuCcdjS3pg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
  overflow: hidden;
}
